@import "../../../common/styles/variables.scss";

.FlexList {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 16px;
    justify-content: center;
    padding: 12px 0px;
}

.NoData {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $BackgroundColorBrown;
}
