@import "./../../common/styles/variables.scss";

.Header {
    &.MuiAppBar-root {
        position: sticky;
        font-size: $PrimaryFontSize;
        background-color: $BackgroundColorBrown;
    }

    .CategoriesMenu {
        .MuiTypography-root {
            text-align: start;
        }
    }

    .CategoriesOfMainPage {
        display: flex;
    }

    button {
        &.MuiButtonBase-root {
            color: #fff;
        }
    }
    .SelectedMenuButtonItem {
        background-color: #da5b13 !important;
    }
}

.SelectedMenuItem {
    &.MuiMenuItem-root {
        background-color: #da5b13 !important;
    }
}

.HeaderContainer {
    &.MuiContainer-root {
        margin: 0 auto;
        max-width: 100%;
    }
}

.Toolbar {
    &.MuiToolbar-root {
        justify-content: space-around;
    }
}

.NavigationBox {
    &.MuiBox-root {
        justify-content: center;
    }
}

.TextField {
    input {
        color: #fff;
    }
    input::placeholder {
        color: #fff;
    }
}

.Search {
    display: flex;

    .MuiFormControl-root {
        .Mui-focused {
            .MuiOutlinedInput-notchedOutline {
                border: 2px solid #da5b13;
            }
        }
    }

    .MuiOutlinedInput-notchedOutline {
        border: 2px solid #4a3327c2;
    }
}

.SearchIconWrapper {
    display: flex;
    align-items: center;
}

.Categories {
}
